extends layout

block content
  div.center
      h3
        a(href="http://localhost:7777/")= "Main Page"
      h3
        a(href="http://localhost:7777/listIndividuos")= "Lista Individuos"
      h3
        a(href="http://localhost:7777/distribuicaoSexo")= "Distribuição Sexo"
      h3
        a(href="http://localhost:7777/distribuicaoDesporto")= "Distribuição Desporto"
      h3
        a(href="http://localhost:7777/top10profissoes")= "Top 10 Profissões"
