extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Students List #[a.w3-btn.w3-round.w3-grey(href="/person/registo") + ]
    .w3-container
      table.w3-table-all
        tr
          th Id
          th Nome
          th Idade
          th Cidade
          th Distrito
          th BI
          th CC
          th Descrição
        
        each s in slist
          tr
            td= s.id
            td
              a(href="/person/"+s.id)= s.nome
            td= s.idade
            td= s.cidade
            td= s.distrito
            td= s.bi
            td= s.cc
            td= s.descricao
            td
              button.w3-btn.w3-round.w3-indigo.w3-margin-right 
                a(href="/person/edit/"+s.id) Edit
              button.w3-btn.w3-round.w3-indigo.w3-margin-right  
                a(href="/person/delete/"+s.id) Delete
              
    footer.w3-container.w3-teal
      h5 Generated in #{d}
    