extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Person Record: #{a.id}
        
    .w3-container
        img.w3-left.w3-circle(src="/images/student.png" alt="Avatar" width="100")
        ul.w3-ul.w3-card-4
            li #[b Nome:] #{a.nome}
            li #[b Idade:] #{a.idade}
            li #[b Cidade:] #{a.cidade}
            li #[b Distrito:] #{a.distrito}
            li #[b BI:] #{a.bi}
            li #[b Descrição:] #{a.descricao}
            li #[b  Partido:] #{a.nomepartido}
            li #[b  Abreviatura Partido:] #{a.abreviaturapartido}
            li #[b  Religião:] #{a.religiao}
            
            li #[b  Desporto:] 
              ul.w3-ul.w3-card-4
              each desporto in a.desportos
                li= desporto   
            
            li #[b  Animais:]
              ul.w3-ul.w3-card-4
              each animal in a.animais
                li= animal            
            
            li #[b  Figuras Publicas:]
              ul.w3-ul.w3-card-4
              each figura in a.figuraspublicas
                li= figura
            
            li #[b  Marca Carro:] #{a.marcacarro}

            li #[b  Destinos Favoritos:]
              ul.w3-ul.w3-card-4
              each destino in a.destinosfavoritos
                li= destino
            
            .w3-container 
              fieldset.w3-margin 
                legend TPC 

                each val in ["fumador","gosta_cinema","gosta_viajar","acorda_cedo","gosta_ler","gosta_musica","gosta_comer","gosta_animais_estimacao","gosta_dancar"]
                    if a.atributos[val] 
                        input.w3-check(type="checkbox" name=val value="1" checked)
                        label= val
                    else
                        input.w3-check(type="checkbox" name=val value="1")
                        label= val

    footer.w3-container.w3-teal 
      h5 Generated in #{d} - #[a(href="/") Return]



